.container {
    text-align: center;
}
.bg-image {
    height: 600px;
}
.bg-image > h1 {
    font-size: 300%;
}
.bg-image2 {
    text-align: center;
    width: 35cm;
    height: 300px;
    margin-left: 5cm;
    color: white;
}
.null {
    font-size: xx-large;
    text-align: center;
    height: 10cm;
    width: 35cm;
    margin: 4cm;
}  
.block {
    text-align: center
} 
.important {
    text-align: center;
    margin: 1cm
}
.unimportant {
    text-align: center;
    width: 35cm;
    margin: 1cm;
    margin-left: 5cm;

}
.unimportant > h8 {
    font-size: x-large;
}
.design {
    display: none;
}
.development {
    display: none;
}
.product {
    display: none;
}
