.container {
    text-align: center;
}
.bg-image {
    height: 600px;
    margin-left: 4cm;
    width: 35cm;
    margin: .5cm;
    color: white;
}
.bg-image > h1 {
    font-size: 300%;
}
.bg-image2 {
    text-align: center;
    width: 35cm;
    height: 300px;
    margin-left: 5cm;
    color: white;
}
.null {
    font-size: xx-large;
    text-align: center;
    height: 13cm;
    width: 35cm;
    margin: 1cm;
    margin-left: 4cm;
}  
.block {
    text-align: center
} 
.important {
    text-align: center;
    margin: .5cm;
}
.unimportant {
    text-align: center;
    width: 35cm;
    margin: 1cm;
    margin-left: 4cm;

}
.unimportant > h8 {
    font-size: x-large;
}
.design {
    display: none;
    
}
.development {
    display: none;

}
.management {
    display: none;

}
.message {
    height: 8cm;
    margin: .5cm;
    width: 20cm;
}
.row {
    margin: .5cm;
}
.manage {
    margin-left: 9cm;
}
.devel {
    margin-left: 9.5cm;
}
.des {
    margin-left: 9cm;
}
.col-md-3 > h5 {
    margin-left: 9cm;
}
.col-md-3 > h6 {
    margin-left: 9.5cm;
}
.long {
    margin-left: 9cm;
}
.submit {
   width: 3cm;
    color: white;
    background-color: black;
}