.container {
    text-align: center;
}
.bg-image {
    height: 600px;
}
.bg-image > h1 {
    font-size: 300%;
}
.wrapper {
    text-align: center;
}
.null {
    font-size: xx-large;
    text-align: center;
}